.mytable {
    display:table;
    width: 100%;
}

.mytablerow {
    display:table-row;
    
}
.tableheadercell{
    display:table-cell;
    border-bottom-color:black;
    border-bottom:1px;
}
.tablecell {
    display:table-cell;
}